body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

.padder {
    padding: 10px;
}

.marginBottom {
    margin-bottom: 10px;
}

.marginBottomx50 {
    margin-bottom: 50px;
}

.marginTopx50 {
    margin-top: 50px;
}

.hidden {
    display: none;
}

h4.helper {
    padding-top: 20px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    color: #484848;
    border-bottom: 1px solid grey;
}

.btn.center {
    justify-content: center;
    align-items: center;
    margin: auto;
}

::-webkit-scrollbar {
    width: 4px;
  }
  
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255,255,255,0.3);
  }
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255,255,255,0.3);
  }

  .bg-primary {
      background-color: rgb(5, 48, 29) !important;
  }

  .bg-dark {
    background-color: rgb(3, 27, 16) !important;
}

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Vidaloka', serif;
  }
  
